<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<body>
		<form method="get" action="Hello_world.html">
			<p>
				<label>
					Name:
					<input type="text" name="name"></input>
				</label>
			</p>
			<p>
				<label>
					Drescription:
					<textarea name="Drescription" rows="4"></textarea>
				</label>
			</p>
			<label>
				Secret word:
				<input type="password" name="Secret">
			</label>
			<p>
			<input type="reset" value="clear"></input>
			<input type="submit" value="send" />
			</p>
		</form>
		</body>
</body>
</html>