<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="mystyle.css">
</head>
<body>
  <body bgcolor="yellow">
    <h1>Enrique</h1>
    <h1>Hello World</h1>
    <h2>How are you?</h2>
    <h3>Im fine thanks</h3>
    <hr>
    <p id="p1">My name is: Enrique</p> 
    <p class="p2">I am 16 Years old</p>
    <p class="p2">Im a student</p>
    <p>The I dont like:</p>
    <p><a href="https://www.cecyt9.ipn.mx/">Cecyt9</a></p>
    <p>A website I like is:
      &nbsp;
      <a href="https://google.com">Google</a></p>
      <p>My favourite place is:</p>
      <p><img src="Bandera.jpg"></p>
      &nbsp;
      <a href="https://www.xbox.com/es-MX"><img src="Control.jpg"></a>
      <p>My favourite Rock bands are:</p>
      <ol>
        <li>Gun´s and roses</li>
        <li>The beatles</li>
        <li>The doors</li>
      </ol>
      <p>My best firends are</p>
      <ul>
        <li>El pepe</li>
        <li>Ete sech</li>
        <li>Emiliano</li>
        <li>Pancho</li>
        <li>Enrique</li>
      </ul>
      <ol>
        <li>BTS
          <ul>
            <li>Frase china </li>
          </ul>
        </li>
        <li>Rolling Stones
          <ul>
            <li>Brown Sugar</li>
          </ul>
        </li>
      </ol>

      <table border="1">
        <tr>
          <td rowspan="2">Email</td>
          <td>Mail</td>  
        </tr>
        <tr>
          <td>Otro mail</td>
        </tr>
        <tr>
          <td rowspan="2">Phone</td>
          <td>4749i0473727</td>
        </tr>
        <tr>
          <td>8374230589231897102784</td>
        </tr>

      <tr align="center">
        <td colspan="2">Contact data</td>
      </tr>
      </table>
      <a href="/form">Who are you?</a>


</body>
</body>
</html>